// Background
html {
  // (62.5%)
  font-size: var(--initial-font-size);
  background: var(--gradient-green-black);
  overflow: hidden;
}
Container .container {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.page {
  position: relative;
  height: 100vh;
  width: 100vw;
  font-family: var(--font-1);
}
